.main {
    height: 70vh;
}

.navbar {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #586875;
    color: #a5c8ca;
}

.navbarMenu {
    margin-left: 3rem;
}

.navbarLoginInfo {
    margin-right: 3rem;
}