.main {
    height: 70vh;
}

.navbar {
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aquamarine;
    color: black;
}

.navbarMenu {
    margin-left: 3rem;
}

.navbarLoginInfo {
    margin-right: 3rem;
}